.shadow-sm {
    box-shadow: 1px 1px 120px 1px rgba(128, 128, 128, 0.55);
}
.shadow {
    box-shadow: 1px 1px 50px 1px rgba(128, 128, 128, 0.55);
}
.shadow-lg {
    box-shadow: 1px 1px 130px 1px rgba(128, 128, 128, 0.55);
}
